django
channels
django-jinja
django-pipeline

django-grappelli
django-filebrowser

social-auth-core[openidconnect]
social-auth-app-django
django-oidc-provider
#django-organizations

djangorestframework
django-guardian
coreapi
Markdown
django-filter
django-crispy-forms 
