# Bare minimum
django-cms==3.*

django-treebeard
django-sekizai
django-classy-tags
djangocms-admin-style
six

# Optional, recommended packages
djangocms-file
Pillow
django-filer
cmsplugin-filer
django-reversion

#DjangoCMS optional dependencies
djangocms-text-ckeditor

djangocms-link
djangocms-snippet
djangocms-style
djangocms-column
djangocms-grid
djangocms-oembed
djangocms-table

djangocms-file
djangocms-googlemap
djangocms-inherit
djangocms-picture
djangocms-teaser
djangocms-video
djangocms-link
